<html>
    <head>
        <title>plusplus's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">plusplus's blog</a></h1>
        </div>
        <div>
            <p>published: 2016.02.17, 08:06</p>
            <h2><a href="">my first post</a></h2>
            <p>ok thanks. see you tomorrow</p>
        </div>
        <div>
            <p>published: 2016.02.17, 08:15</p>
            <h2><a href="">my second post</a></h2>
            <p>hi there. it works! don't problem~~</p>
        </div>
    </body>
 </html>